<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>
<body>
    <h1>Prueba / Clientes / Clients</h1>
    <form method="POST" action="/submit">
        <p>Name:<input type="text" name="userName"></p>
        <p>Date:<input type="text" name="userDate"></p>
        <p>Promotion:<input type="text" name="userProm"></p>
        <p>Phone:<input type="text" name="userPhone"></p>
        <p>Time:<input type="text" name="userTime"></p>
        <input type="submit" value="Send information">    
    </form>
</body>
</html>