<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
</head>
<body>
    <h1>Delete documents on MongoDB</h1>
    <form method="POST" action="/delete">
        <p>Name: <input type="text" name = "userName"></p>
        <p>Promotion: <input type="text" name="userProm" ></p>
        <input type="submit" name="Delete">
    </form>
</body>
</html>