<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete documents</title>
</head>
<body>
    <h1>Delete documents</h1>
    <% if(typeof error !== 'undefined'){ %>
        <p><%- error %></p>
    <% } %>

    <% if(typeof success !== 'undefined'){ %>
        <p><%- success %></p>
    <% } %>
</body>
</html>