<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Clients</title>
</head>
<body>
    <h1>Search Clients for Promotions</h1>
    <form method="POST" action=" /filter">
        <p>Promotion : <input type="text" name="userProm"></p>
        <input type="submit" value="Filter">
    </form>        
</body>
</html>