<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Client</title>
</head>
<body>
    <h1>Update Clients</h1>
    <form method="POST" action="/update">
        <p>Name:<input type="text" name ='userName'></p>
        <p>Date:<input type="text" name = 'userdate'></p>
        <input type="submit" value="Update Data">
    </form>

    
</body>
</html>